html {
  background-color: rgb(24, 14, 34);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(184, 173, 173);
  font-weight: 450;
}
body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: purple;
  background-image: linear-gradient(
      115deg,
      rgba(93, 58, 158, 0.8),
      rgba(32, 17, 41, 0.7)
    ),
    url(https://wallpapercave.com/wp/wp2771916.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  line-height: 2;
}
p {
  font-size: 1.2rem;
  font-weight: 500;
}
h1,
p {
  margin-top: 0;
  margin-bottom: 0.6rem;
  text-align: center;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.box {
  width: 100%;
  margin: 3rem auto 0 auto;
}
@media (min-width: 500px) {
  .box {
    max-width: 400px;
  }
}
@media (max-width: 700px) {
  .box {
    max-width: 600px;
  }
}
.header {
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
}
#title {
  text-align: center;
}
#description {
  font-style: italic;
  font-weight: 150;
  text-align: center;
}
form {
  background: rgb(155, 113, 35);
  padding: 2rem 0.5rem;
  border-radius: 15px;
}
.group-form {
  margin: 0 auto 1.25rem auto;
  padding: 0.5rem;
}
.form-control {
  display: block;
  width: 100%;
  height: 2.3rem;
  padding: 0.25rem 0.25rem;
  color: rgb(179, 15, 42);
  background-color: powderblue;
  background-clip: padding-box;
  border: 2px solid rgb(50, 25, 107);
  border-radius: 0.3rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.form-control:focus {
  border-color: red;
  outline: 0;
}
.input-radio,
.checkbox {
  display: inline-block;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
#percentage {
  color: rgb(33, 15, 82);
}
#comments {
  min-height: 100px;
  width: 100%;
}
#submit-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: blue;
  color: yellow;
  border-radius: 5px;
  cursor: pointer;
}
