html {
  font-size: 10px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 1.6;
  color: rgb(82, 71, 82);
}

h1 {
  font-size: 5rem;
}

@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
    line-height: 1.3;
  }
}

h2 {
  font-size: 3rem;
}
#main {
  padding: 15px;
  margin: 40px 10px;
  border-radius: 2px;
  background-color: rgba(11, 67, 77, 0.459);
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 3px;
  border-style: double;
  border-color: darkgoldenrod;
}
#img-div {
  background-color: rgb(92, 92, 92);
  padding: 15px;
  margin: 0;
  border-radius: 3px;
  border-style: double;
  border-color: rgb(27, 22, 22);
}
#second-headline {
  font-size: 2.5rem;
}
#img-caption {
  font-size: 1.5rem;
  color: burlywood;
  font-style: italic;
}
#main-text {
  text-align: center;
  color: rgb(0, 0, 0);
  max-width: fit-content;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
blockquote {
  font-style: italic;
  max-width: 500px;
  margin: 0 auto 40px auto;
  text-align: left;
  font-size: 1.4rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  color: rgb(39, 159, 228);
}
a:visited {
  color: crimson;
}
